h2.huge-module__title=name
if items.intro
	each paragraph in items.intro
		p.huge-module__paragraph!=paragraph
.titles
	each font in items.fonts
		- var heading = '<h' + font.heading + ' class="' + font.className + '" contenteditable="true">' + font.title + '</h' + font.heading + '>'
		h4.huge-module__title--light #{font.fontName} - #{font.fontSize}
		!{heading}

h5.huge-module__title--small=items.paragraphsName
each paragraph in items.paragraphs
	h4.huge-module__title--light #{paragraph.fontName} - #{paragraph.fontSize}
	p(class=paragraph.className contenteditable="true")=paragraph.text
